* {
    /* fix defaults*/
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    /* outline: 1px dotted; */
    /* color palette */
    --bgColor: #DFEAFC;
    --lightDisplayColor: #CEE5E5;
    --darkDisplayColor: #5B7375;
    --btnFgColor: #E5F5FD;
    --btnBgColor: #374259;
    --btnSpecialColor: #8A4669;
    --btnOperatorColor: #485975;
    --bodyColor1: #637583;
    --bodyColor2: #374351;
    --bodyColor3: #282F3A;
}

body {
    background-color: var(--bgColor);
}

.wrapper,
.calContainer,
.keys,
.specialKeys,
.numpad,
.numKeys,
.operatorKeys {
    display: flex;
}

.wrapper,
.calContainer,
.operatorKeys,
.keys {
    flex-direction: column;
}

.calContainer,
.keys,
.keys>*,
.numpad>* {
    gap: 1em;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.calContainer {
    max-height: minmax(80vw, min-content);
    width: 80vw;
    min-width: 30ch;
    max-width: 55ch;
    padding: 1.5em;
    gap: 3em;
    border-top: solid #212A3B 4px;
    border-right: solid #3C4759 4px;
    border-left: solid #6F818F 4px;
    border-bottom: solid #4C5D6F 4px;
    background-image: linear-gradient(45deg, var(--bodyColor1), var(--bodyColor2) 35%, var(--bodyColor3) 90%);
    border-radius: 5px;
    box-shadow: -3px 4px 1em black;
}

.display {
    border: inset var(--bodyColor2);
    text-align: right;
    padding: 0.25em;
    max-height: 25%;
    font-size: 2em;
    font-weight: 500;
}


.specialKeys {
    justify-content: flex-end;

}

.numKeys {
    flex-wrap: wrap;
    width: 75%;
}

.numKeys>button {
    /* magic number to limit 3keys per row*/
    flex-basis: 25%;
}

.operatorKeys {
    flex-grow: 1;
}

button {
    padding: 0.5em;
    flex-grow: 1;
    border-radius: 10px;
    font-size: large;
    color: var(--btnFgColor);
    background-color: var(--btnBgColor);
    box-shadow: -1px 1px 0.125em black;
}

.operatorKeys > button, #equals{
    background-color: var(--btnOperatorColor);
}

#clear{
    background-color: var(--btnSpecialColor);
}

.display{
background-image: linear-gradient(45deg, var(--lightDisplayColor), var(--darkDisplayColor) 90%);
}